*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EBDDC6;
    /*font-family: 'Archivo Black', sans-serif;*/
    font-family: 'Libre Baskerville', serif;
}

.container{
    max-width: 1000px;
    background-color: #FFF8DC;
    margin: 0 auto;
    padding: 20px;
}

.profile-image{
    /*width: 120px;
    height: 120px;*/
    border: 2px solid #C2B280;
    border-radius: 20%;
    float: left;
}

.header-bio{
    float: left;
    padding: 30px;
}

h1,h2,h3,h4,h5,h6{
    color: #966919
}

.header-contact{
    /*font:"Libre Baskerville", serif;*/
    float: right;
    padding-top: 30px
}

.header-contact a{
    text-decoration: none;
    color: #28282B;
    font-weight: bold;
}

.header-contact a:hover{
    text-decoration: underline;
    color: #FFC000;
}

.div-clear{
    clear: both;
}

hr{
    border: solid #C2B280 5px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}

/*---------------------
Personal Section Start
----------------------*/

.content{
    margin-bottom: 30px;
}

.left-div{
    width: 30%;
    float: left;
}

.right-div{
    width: 70%;
    float: left;
}

.common-hr{
    border: solid #C2B280 2px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}

/*---------------------
Education Section Start
----------------------*/

.edu-template-left{
    float: left;
    width: 45%;
}
.edu-template-right{
    float: right;
    width: 45%;
}

/*---------------------
Footer Start
----------------------*/

.bottom-container{
    border-radius: 20px;
    background-color: #2C2820;
    text-align: center;
    padding: 10px;
}

.bottom-container a{
    color: white;
    text-decoration: none;
    margin: 20px;
}

.bottom-container p{
    color: white;
    margin-top: 20px;
}